@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Red Hat Text", sans-serif;
}

body {
    background-color: hsl(20, 50%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto;
    /* background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
}
h1{
    color:hsl(14, 65%, 9%);
}
h3{
    font-size: 16px;
    font-weight: 700;
    color:hsl(14, 65%, 9%);
}
.dessert-row {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
}

.dessert-img {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dessert-img img {
    width: 100%;
    height: 200px; /* Adjust the height to make the images smaller */
    object-fit: cover;
    border-radius: 10px;
}

.dessert-img button {
    position: absolute;
    bottom: -10px; 
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    border-color: hsl(14, 86%, 42%);
    padding: 10px;
    background-color: white;
    color: hsl(14, 65%, 9%);
    font-weight: 700;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dessert-img button img {
    height: 22px;
    width: 22px;
    margin-right: 10px;
}
.dessert-item p{
    font-size: 16px;
    /* color:hsl(14, 25%, 72%);
    color:hsl(14, 25%, 72%);
    color:hsl(12, 20%, 44%); */
    color:hsl(7, 20%, 60%);
    font-weight: 500;
}
/* .dessert-item h3{
    color:hsl(14, 65%, 9%);
    font-weight: 900;
} */
.dessert-item .price{
    font-weight: 900;
    color:hsl(14, 86%, 42%);
}

.dessert-data {
    margin-top: 40px; /* Add some space between the image and the text */
}

.dessert-data p {
    margin: 5px 0; /* Add vertical space between the paragraphs */
}

.dessert-data h3 {
    margin: 7px 0; /* Add space above and below the heading */   
}
.cart {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    margin-bottom: 10px;
}

.total {
    margin-top: 20px;
}

.confirm-order-btn {
    background-color: #b13f22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.cart h2{
    color:hsl(14, 86%, 42%)
}
.empty-cart{
    text-align:center;
    padding:20px
}
.empty-cart p{
    color:hsl(7, 20%, 60%);
    font-weight: 500;
    font-size: 14px;
    margin-top: 20px;
}
.cart-item{
    padding-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid  hsl(13, 31%, 94%);
}
.remove-item{
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 2px solid hsl(14, 25%, 72%);
    border-radius: 50%;   
    display: flex;
    align-items: center;
    justify-content: center
}
/* Carbon-neutral button */
.button-carbon-neutral {
    background-color: hsl(13, 31%, 94%);
    /* color: hsl(14, 25%, 72%); */
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    margin: 20px 0;
    /* font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease; */
  }
  
  .button-carbon-neutral img {
    margin-right: 8px;
  }
  
  /* .button-carbon-neutral:hover {
    background-color: hsl(14, 25%, 90%);
    border-color: hsl(14, 25%, 62%);
  } */
  
  /* Confirm Order button */
  .button-confirm-order {
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 15px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    /* transition: background-color 0.3s ease; */
  }
  .button-confirm-order:hover {
    background-color:rgba(149,44,12,255);
  }
  /* modal css */

  .darkBG {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100%;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  
  .centered {
    width: 100%;    
    background: white;
    padding: 25px;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-50%, -50%);
  }
  
  /* .modal {
    width: 50%;
    height: 170px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  } */
  
  .modalHeader p {
    color:hsl(7, 20%, 60%);
    font-size: 14px;
    font-weight: 600;
  }
  .modalBody{
    width:100%;
    margin-top: 20px;
    background-color: hsl(20, 50%, 98%);
    border-radius: 5px;
  }
  .heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  
  .modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
  }
  
  .modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  

  
  